<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

	<variable name="logDirectory" value="C:\MessageAppLogs" />
	<variable name="logFileName" value="${logDirectory}/api-log-${shortdate}.log" />
	<variable name="errorLogFileName" value="${logDirectory}/error-log-${shortdate}.log" />

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target xsi:type="File"
				name="errorFile"
				fileName="${errorLogFileName}"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
	</targets>
	
	<rules>
		<logger name="MessageAppBackend.*" minlevel="Error" writeTo="errorFile"/>
	</rules>
</nlog>
